{% extends "templates/web.html" %}

{% block page_content %}
<!-- <h2 class="mb-4">All Notifications</h2> -->

{% set notes = frappe.get_list("Notification Log", fields=["subject", "email_content", "creation"], order_by="creation desc") %}

{% if notes %}
  <div class="">
    {% for note in notes %}
      <div class="p-4 border-b">
        <div class="flex justify-between items-center mb-1">
          <div class="font-bold text-lg" style="font-size: 20px; color: black; font-weight: 600;">
            {{ note.subject }}
          </div>
          <div class="text-sm text-gray-500">
            {{ note.creation.strftime('%d-%b-%Y') }}
          </div>
        </div>
        <p class="text-base">{{ note.email_content }}</p>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>No notifications found.</p>
{% endif %}
{% endblock %}
